@import "tailwindcss";




/* 
    :root {
    --indigo: #1c2b4a;
    --indigo-deep: #12203a;
    --gold: #c79a3e;
    --cream: #f7f2e7;
    --clay: #a0472e;
    --ink: #241f18;
    --line: #e4dbc7;
    --card: #ffffff;
  }
*/

@theme{
  --color-deep-indigo: #12203a;
  --color-custom-cream: #f7f2e7;
  --color-custom-gold: #c79a3e;
}


@utility container {
  margin-inline: auto;
  max-width: 1200px;
  padding-inline: 1rem;


  @media (width >= 640px) {

    
  }

  @media (width >= 1024px) {
    
    @apply border-red-500;
  }
}


body{
  background-color: #f7f2e7;
  font-family: 'Poppins';
}

